.filters{
	background-color: #fff;
	height: 70px;
	width: 100%;
	border: 1px solid #DDD;
	border-radius: 4px;
	display: flex;
	align-items: center;
}

.container{
	width: 100%;
	max-width: 1000px;
	display: flex;
	flex-direction: column;
}

.btn{
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: flex-end;
	margin-right: 30px;
}

button{
	font-size: 18px;
	background-color: #FF5A5F;
	color: #FFF;
	height: 48px;
	width: 30%;
	border: none;
	border-radius: 4px;
}

button:hover{
	opacity: 90%;
}

h3{
	font-weight: 600;
	margin-top: 0;
	margin-bottom: 0;
}

h4{
	font-weight: 400;
	font-size: 14px;
	margin-top:0;
	margin-bottom:0;
}

.Locations,
.amenties{
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 25%;
	height: 100%;
	margin-left: 40px;
	border-right: 1px solid #DDD;
	position: relative;
}

.amenties{
	border: none;
	position: relative;
}

.popover{
	display: flex;
	justify-content: flex-start;
	width: 100%;
}

.first{
	padding: 0 0 0 20px;
}

.popover li{
	list-style: none;
}

.first h2{
	font-size: 16px;
}

.first li{
	margin-left: 20px;
}

.dropdown1{
	background-color: #FAFAFA;
	border: 1px solid #DDD;
	border-radius: 4px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border-top: none;
	width: 14.6%;
	position: absolute;
	left: 155px;
	opacity: 0;
	bottom: ;
}

.dropdown2{
	width: 25%;
	background-color: #FAFAFA;
	border-radius: 4px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border: 1px solid #DDD;
	border-top: none;
	position: absolute;
	left: 343px;
	opacity: 0;
}

.dropdown1:hover{
	opacity: 100;
	transition: opacity ease-in 0.5s;
}

.dropdown2:hover{
	opacity: 100;
	transition: opacity ease-in 0.5s;
}
